doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    title 🦦 | Joyeux
    link(
      href="styles/tailwind.css"
      rel="stylesheet"
      type="text/css"
    )
  body(
    class="font-mono text-base text-gray-50 bg-gray-800 w-3/4 max-w-screen-sm my-10 mx-auto flex flex-col justify-center"
  ) 
    h1 Welcome to Joyeux ! 🦦
    p ⚡️ Get #[b instant] backend #[b validation feedback] for your #[a(href="https://joi.dev" target="_blank") Joi] schemas ⚡️
    form(action="/" method="post")
      div
        label(for="value") Value:
        input(
          id="value"
          name="value"
          type="text"
          value=feedback ? feedback.value : 'Enter value to validate'
        )
      div
        label(for="joi") Joi validation schema:
        input(
          id="joi"
          name="schema"
          type="text"
          value=feedback ? feedback.schema : 'Joi.string().min(10)'
        )

      input(type="submit" value="VALIDATE")

    if validationResult
      if validationResult.error
        div
          p ❌ #[b #{ feedback.value }] did not pass validation. 😢
          p= validationResult.error
      else
        div 
          p ✅ #[b #{ feedback.value }] validated against the schema you provided: #[b Bravo 👏 !!]
