doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    title 🦦 | Joyeux
    link(
      href="styles/tailwind.css"
      rel="stylesheet"
      type="text/css"
    )
  body(
    class="font-mono text-base text-gray-50 bg-gray-800 w-3/4 max-w-screen-sm my-10 mx-auto flex flex-col justify-center"
  ) 
    h1(class="text-center text-xl") Welcome to Joyeux ! 🦦
    p(class="text-center") ⚡️ Get #[b instant] backend #[b validation feedback] for your #[a(class="text-blue-400 focus:text-pink-600 visited:text-blue-200" href="https://joi.dev" target="_blank") Joi] schemas ⚡️
    form(
      action="/"
      class="h-96 border border-solid border-blue-100 py-10 px-5 rounded-lg"
      method="post"
    )
      div
        label(
          class="w-full text-left inline-block mb-2 text-2xl text-blue-400"
          for="value"
        ) Value:
        input(
          class="appearance-none px-2 py-4 text-xl rounded text-inherit block w-full text-gray-600 bg-white .bg-clip-padding border border-solid border-gray-50 mb-6 focus:text-gray-600 focus:border-blue-400 focus:outline-none focus:shadow-md focus:ring-0"
          id="value"
          name="value"
          type="text"
          value=feedback ? feedback.value : 'Enter value to validate'
        )
      div
        label(
          class="w-full text-left inline-block mb-2 text-2xl text-blue-400"
          for="joi"
        ) Joi validation schema:
        input(
          class="appearance-none px-2 py-4 text-xl rounded text-inherit block w-full text-gray-600 bg-white .bg-clip-padding border border-solid border-gray-50 mb-6 focus:text-gray-600 focus:border-blue-400 focus:outline-none focus:shadow-md focus:ring-0"
          id="joi"
          name="schema"
          type="text"
          value=feedback ? feedback.schema : 'Joi.string().min(10)'
        )

      input(
        class="block mx-auto mt-10 text-center bg-transparent cursor-pointer hover:bg-blue-400 text-blue-400 font-normal hover:text-white py-2 px-4 border border-blue-400 hover:border-transparent rounded"
        type="submit"
        value="VALIDATE"
      )

    if validationResult
      if validationResult.error
        div
          p(class="text-center") ❌ #[b #{ feedback.value }] did not pass validation. 😢
          p(class="text-center")= validationResult.error
      else
        div 
          p(class="text-center") ✅ #[b #{ feedback.value }] validated against the schema you provided: #[b Bravo 👏 !!]
